
h1{
    text-align: center;
}

#newBlogForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group{
    display: flex;
    flex-direction:  column;
   
}

#form-container{
    display: flex;
    flex-direction:  column;
    align-items:  center;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-group input:user-invalid,
.form-group textarea:user-invalid{
    border-color: red;
}
.form-group input:valid,
.form-group textarea:valid{
    border-color: green;
}
.form-group .error-message {
  display: block;
  color: #e74c3c; /* Red for error messages */
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 1em; /* Reserve space to prevent layout shifts */
}

.blog-page{
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    box-sizing: border-box;
    border-width: 1px;
    border-color: black;
}
#list-blog-container{
    display: flex;
    gap:2rem;
    justify-content: space-between;
}